{# public/templates/footer.twig #}
<style>
.footer {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.footer-link {
  color: #4caf50;
  text-decoration: none;
}
</style>

<footer class="footer">
  <div class="container text-center">
  <!-- La pagina es open source, asi que hay que cambiar el copyright a MIT license -->
  <p>MIT License - <a href="https://github.com/mgrl39/fungi" target="_blank" class="footer-link">GitHub Fungi</a></p>
    <p>
      <a href="/terms" class="footer-link">Términos y Condiciones</a> |
      <a href="/faq" class="footer-link">Preguntas Frecuentes</a> |
      <a href="https://github.com/mgrl39/fungi" target="_blank" class="footer-link">GitHub Fungi</a>
    </p>
    <p>
      Contribuye al proyecto en 
      <a href="https://github.com/mgrl39/fungi-scraping" target="_blank" class="footer-link">Fungi Scraping</a> y 
      <a href="https://github.com/mgrl39/fungi-installer" target="_blank" class="footer-link">Fungi Installer</a>.
    </p>
  </div>
</footer>
