{# public/templates/view_toggle.twig #}
<div id="view-toggle" style="position: fixed; top: 50%; right: 20px; transform: translateY(-50%); z-index: 1000;">
  <button id="gridViewBtn" class="btn btn-outline-light mb-2">Grid</button>
  <button id="listViewBtn" class="btn btn-outline-light">Lista</button>
</div>
