    .shake-animation {
        animation: shake 0.5s;
    }
    @keyframes shake {
        0%, 100% { transform: translateX(0); }
        25% { transform: translateX(-10px); }
        75% { transform: translateX(10px); }
    }
    
    body {
        background-color: #131828;
        background-image: linear-gradient(to bottom right, #131828, #1a2035);
        height: 100vh;
        color: #f8f9fa;
    }
    
    .card {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .card-body, .card-footer {
        background-color: rgba(255, 255, 255, 0.05);
    }
    
    .form-control {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
    }
    
    .form-control:focus {
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
    }
    
    .form-control::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .card-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .modal-content {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
    }

    .modal-header, .modal-footer {
        border-color: rgba(255, 255, 255, 0.1);
    }
    