/* public/assets/css/style.css */

/* Estilos básicos para el proyecto Fungi */

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #e9ecef;
}

